@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gap: 16px;
  --duration: 15s;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

@layer utilities {

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .animate-blob {
    animation: blob 8s infinite;
  }
  .animate-marquee {
    animation: marquee var(--duration) infinite linear;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes blob {
    0% {
      transform: translate(0) scale(1);
  }
  
  33% {
      transform: translate(50px, -50px) scale(1.3);
  }
  66% {
      transform: translate(-30px, 30px) scale(.85);
  }
  100% {
      transform: translate(0) scale(1);
  }
  }
  
}